<div class="container mt-4">
  <div class="card p-4 mx-auto" style="width: 90%;">
      <form>
          <div class="row">
              <div class="row">
                  <div class="col-md-6">
                      <select id="userSelect" class="form-control" (change)="search($event)">
                          <option value="none">Select User</option>
                          <option *ngFor="let user of userNames" [value]="user.value">{{ user.viewValue }}</option>
                      </select>
                  </div>

                  <div class="col-md-6">
                      <input matInput type="date" id="addedDateFilter" placeholder="Date Filter" class="form-control" (change)="onDateFilterChange($event)" #date>
                  </div>
              </div>
          </div>
      </form>
      <div *ngIf="!isUserSelected" class="alert alert-info">
          {{ noUserSelectedMessage }}
      </div>

      <div *ngIf="noUpdatesMessage" class="alert alert-warning">
          {{ noUpdatesMessage }}
      </div>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
          <!-- ID Column -->
          <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
          </ng-container>

          <!-- User Name Column -->
          <ng-container matColumnDef="userName">
              <th mat-header-cell *matHeaderCellDef> User Name </th>
              <td mat-cell *matCellDef="let element"> {{ element.userName }} </td>
          </ng-container>

          <!-- Updated At Column -->
          <ng-container matColumnDef="updatedAt">
              <th mat-header-cell *matHeaderCellDef> Updated At </th>
              <td mat-cell *matCellDef="let element"> {{ element.updatedAt | date:'M/d/yyyy, h:mm a' }} </td>
          </ng-container>

          <!-- Records Updated Column -->
          <ng-container matColumnDef="recordsUpdated">
              <th mat-header-cell *matHeaderCellDef> Records Updated </th>
              <td mat-cell *matCellDef="let element"> {{ element.recordsUpdated }} </td>
          </ng-container>

          <!-- File Content Path Column -->
          <ng-container matColumnDef="fileContentpath">
              <th mat-header-cell *matHeaderCellDef> File Content Path </th>
              <td mat-cell *matCellDef="let element">
                  <a  (click)="toggleUrlVisibility(element.id)">
                     
                      <span *ngIf="!urlVisibility[element.id]">&#x25BC;</span>
                      <span *ngIf="urlVisibility[element.id]">&#x25B2;</span>
                  </a>
                  <div *ngIf="urlVisibility[element.id]">
                      <a href="javascript:void(0)" (click)="viewFilePath(element.fileContentpath)">
                          {{ element.fileContentpath }}
                      </a>
                  </div>
              </td>
          </ng-container>

          <!-- Header and Row Definitions -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>
</div>
